[2015-02-20 19:53] WasabiFan opened #1 "Initialize repo"
Quick list of things that will need to be done before the repo is ready for use:

  - [x] Add everyone as a collaborator (so that we can push directly)
  - [x] Push some initial content (a `README.md`, to start)
  - [x] Make sure that everyone was registered and added successfully (everyone should receive a notification for this over email)

[2015-02-21 00:25] kyranstar commented on #1
I'm still trying to figure out Visual Studio + git... There may be a few weird commits

[2015-02-21 00:46] WasabiFan commented on #1
Sounds good. What version of VS are you using?

[2015-02-21 01:59] WasabiFan commented on #1
@kyranstar I'd recommend we put the SLN and project files in to a single subfolder; then we can have a root directory tree with folders for things like art designer files and write-ups, if we have any, along with a main code directory.

P.S. Just a warning: it seems to have committed the `bin` folder (which will be re-written on each build) in 49eff2d65a5c17da3298dd23b85e888412bb62b6; the `.gitign

[2015-02-21 02:01] kyranstar commented on #1
Okay, I agree. I'll redo it in an hour or two. I haven't used command line git in forever :P

[2015-02-21 02:09] WasabiFan commented on #1
I completely understand. If you want to, you can use Visual Studio's [built-in Git GUI tool](http://blogs.msdn.com/b/visualstudioalm/archive/2013/01/30/getting-started-with-git-in-visual-studio-and-team-foundation-service.aspx) (supports generic Git) if you want. I find that it works well for VS/C# Git projects. There are also other more fully-functional Git GUIs like GitHub for Windows and SmartG

[2015-02-21 02:43] kyranstar commented on #1
Thanks, I'll try it! Visual Studio is really not working for me right now, so you can redo the commit or I'll see if I can do it at school tomorrow.

[2015-02-21 05:59] WasabiFan commented on #1
I was about to start attempting to create a project when I realized that we might want to wait on creating it until we have fully decided on our graphics technology: Some of them are much easier to use if you create the project file from the start using their specific VS type template. So it might just be best to wait at least a week so that we have a chance to talk it over and come to a consensus

[2015-02-22 01:36] nikbyk commented on #1
If we want to do cross-platform, would we maybe be able to get a hold of Xamarin for VS? http://xamarin.com/?utm_content=1544888308&utm_term=xamarin%20visual%20studio&utm_campaign=Xamarin+-+%5bBrand%5d+-+Search&utm_source=&utm_medium=

[2015-02-22 01:36] nikbyk commented on #1
Idk how good it would be for a game, though

[2015-02-22 02:08] kyranstar commented on #1
It looks like there are some games out for it so they can be made but i feel like with something like XNA there's a lot more information on the web. And plus Imo cross-platform isn't such a big deal for our game

[2015-02-22 04:40] WasabiFan commented on #1
The library that I was thinking about using (MonoGame) supports Xamarin as a fully-supported platform, so multi-platform support is definitely possible. MonoGame is a full XNA implementation which means most of the XNA docs apply.

And it shouldn't require Xamarin for VS to test, just if/when our game gets large. We can talk to the MS people for more info on that possibility.

XNA itself has been

[2015-02-22 06:10] WasabiFan opened #2 "General discussion on graphics technology/platform"
There was a small discussion of this in #1, but I'm opening a new issue to discuss our platform options in more detail.

There are three core categories for base frameworks that we can start with: barebones rendering engines, helper game wrappers/frameworks, and game engines. Here's a list of the pros and cons of each along with some examples of each (feel free to point out more details if you thi

[2015-02-22 20:00] kyranstar opened #3 "General discussion on the look and feel of the game"
- 2D: I think the game should be 2D because the scope of a 2D game is much smaller and easier to manage
  - Top down: It could be top down, like [the original Hunt the Wumpus](http://www.oldschoolapps.com/files/img/huntthewumpus.png), but with more flushed out graphics presumably
  - Side scroller: I think this could be made to work if we really like the idea?
  - [A "2.5D" RPG sort of look](https

[2015-02-22 20:29] WasabiFan commented on #3
@kyranstar I generally agree with your analysis; 2D would definitely be easier. One of the things that I have seen from most of the demos of previous games is that the player never actually *sees* more than one room at a time. I was thinking it might be interesting to look into a fog-like effect, so that everything outside of the user's current room was obscured.

Aside from the complexities of 3D

[2015-02-27 19:42] WasabiFan commented on #2
@kyranstar What version of MonoGame do we want to use? The latest stable is `v3.2`, which didn't include the Content Pipeline. This lets us create assets without the need for old XNA tools, so it would be best in that respect if we used a newer alpha release. But that presents the issue of stability... so what do you think we should do?

[2015-02-27 21:36] kyranstar commented on #2
I've personally never had any issues with stability so I wouldn't be the person to ask. In my opinion, I would pick the newer version if the content pipeline is a lot better.

[2015-02-28 00:19] WasabiFan commented on #2
If we want to go with unstable releases, we'll have to chose a version to use universally to make sure that the versions align so that we don't hit any compatibility issues. I think I'll just chose today's nightly and we can all use that, at least for a while. We should be able to move to a stable 3.3 release when they get there.

In case you want to look through it, the nightly  build listing is

[2015-02-28 01:57] WasabiFan commented on #2
I have added a new solution and MonoGame project (in 2a38449cf55cdc36894d1b4fd77562cb139a1600). It contains no custom modifications, so it's just the default code right now. I will be setting up a common library and adding some other infrastructure code soon so that people can look through their parts if they want.

I added a wiki page [here](https://github.com/kyranstar/Hunt-The-Wumpus/wiki/Setti

[2015-02-28 02:01] kyranstar commented on #2
How did you sign up as a student for DreamSpark? It says that LWSD is not registered with them when I tried to sign up with my email.

[2015-02-28 02:12] WasabiFan commented on #2
I took a picture of my Student ID and attached it (I think it's one of the last options). You get access to the software automatically as soon as you submit it, so there's no waiting.

[2015-02-28 05:29] #1 closed

[2015-03-03 19:25] WasabiFan commented on #2
I *think* I have added all the required files and docs so that you can run the basic sample that I have created. My goal with this is to get the final infrastructure set up and in place so that when we are ready to get started we can start writing code immediately.

If you get a chance, I'd like some of you to try following my instructions and make sure that everything works. Particularly, it woul

[2015-03-04 21:47] kyranstar commented on #2
![](http://i.imgur.com/luq9NK6.png) Windows 8 home computer

[2015-03-04 23:14] WasabiFan commented on #2
Perfect! That means that the project setup *should* be completely ready. Whenever we decide to start development, my graphics stuff will be ready and not in our way.

[2015-03-06 18:19] nikbyk commented on #3
What kind of theme are we looking at for the game?

[2015-03-06 19:50] WasabiFan opened #5 "Flow chart?"
I am looking at this tool that we found and it really isn't working. It's glitchy and not easy to use, and you can't export without paying. Does anyone have any other ideas for tools to use?

[2015-03-07 02:10] BlueRosesSonyPony commented on #3
If we're not doing the environmental competition, maybe an ocean theme? The
player could swim through underground caves, and the wumpus could be a
kraken or octopus or something.

Or if we're going with the environmental theme, we could have a
post-apocalyptic landscape and the trivia could be about things that people
could have done in the past to prevent this global catastrophe.

On Fri, Mar 6,

[2015-03-10 20:35] kyranstar commented on #5
[This is the tool I used before](https://conceptboard.com/board/rxm5-r19t-adr7-npq4-ut2m), which worked pretty well.

[2015-03-11 01:24] WasabiFan commented on #5
It works well! I just took a few minutes to start on a draft chart and like the tool. @kyranstar Can you take a look at it and tell me what you think?

P.S. I don't want to do all the work myself, nor do I want for any of you to not be able to work because I am doing all of it. But we need to start getting stuff done (start discussing things, start collaborating on a game architecture, etc.), so I

[2015-03-24 18:54] #5 closed

[2015-03-26 03:48] BlueRosesSonyPony commented on #5
Can you send me the flowchart? Thanks.

On Tue, Mar 24, 2015 at 11:54 AM, Wasabi Fan <notifications@github.com>
wrote:

[2015-03-26 04:25] WasabiFan commented on #5
Here it is: https://conceptboard.com/board/rxm5-r19t-adr7-npq4-ut2m

[2015-03-26 05:09] BlueRosesSonyPony commented on #5
Thanks!

On Wed, Mar 25, 2015 at 9:25 PM, Wasabi Fan <notifications@github.com>
wrote:

[2015-04-01 02:07] WasabiFan opened #6 "Does the map need to change while the game is running?"
I am currently writing the code to render a basic map. Can I assume that no rooms' connections are changed while the user is in a game?

[2015-04-01 02:08] kyranstar commented on #6
Probably. I mean, unless we really wanted to confuse the user.

[2015-04-01 02:11] WasabiFan commented on #6
OK :wink: I'll write it to only lay out the map once for each game. If we decide to add a "ludicrous difficulty" mode, we may need to revisit this decision.

[2015-04-01 02:11] #6 closed

[2015-04-01 17:43] #2 closed

[2015-04-01 19:52] kyranstar opened #7 "Where to put test code"
Where should I put test methods? And how can I run them?

[2015-04-01 20:17] WasabiFan commented on #7
Honestly, I don't know... I have never used it in VS before. I know that testing is built in to VS though.

If you don't want to pioneer the way yourself, I'd recommend that you write the code somewhere in our existing code base with an error log if it fails and do it that way until I can do some research. I know that's a pretty bad way to write tests, but it's our best option for now 😡

[2015-04-01 20:21] kyranstar commented on #7
Okay. It says [here](https://www.visualstudio.com/en-us/get-started/create-and-run-unit-tests-vs.aspx) how to set up a testing project so I'll try that when I get home?

[2015-04-01 20:37] WasabiFan commented on #7
Sounds good. If/when you create it in the repo solution, tell it to put the project in either a "Test" folder under "platform" or in a "Test" folder one level above that.

To add our files so that they are auto-discovered, you will have to edit the generated project file manually -- you can use the desktop one as an example.

[2015-04-02 20:53] #7 closed

[2015-04-02 20:54] kyranstar commented on #3
We need more information about that environmental competition. Is there a link?

[2015-04-03 17:55] kyranstar opened #8 "Todo List"
# TODO:
 - [ ] Be able to receive inputs
 - [ ] Be able to move the player from room to room (WASD?)
 - [ ] Validate that the player doesn't move out of bounds
 - [ ] Move the viewport based on the players location (center the player in the screen)
 - [ ] Make the rooms pretty (pink is so ugly :grin:)

[2015-04-03 19:10] WasabiFan commented on #8
@kyranstar What happened today? Were you able to demo anything?

I didn't intend for it to be pretty ;) I just picked an image from my "Pictures" folder.

[2015-04-03 20:07] kyranstar commented on #8
@WasabiFan We basically showed them what we had, and they thought that we were pretty "ahead of the curve." We didn't really get much of anything done besides talking about what we had to do for next week.

[2015-04-03 21:17] kyranstar commented on #8
By the way, (for everybody) besides unit tests, [Debug.Assert](http://stackoverflow.com/questions/163538/c-sharp-what-does-the-assert-method-do-is-it-still-useful) is pretty useful.

[2015-04-07 04:02] WasabiFan opened #9 "Dealing with infinite room loop?"
How do we want to handle the fact that the map wraps from one edge to the other? I was thinking we could render the rooms adjacent to the edges and move the player to the other side of the map when they try to cross. In that case, we would have to manually store the information on which connection is supposed to wrap to make sure that the layout algorithm doesn't hit an infinite loop.

Any other i

[2015-04-07 04:52] kyranstar commented on #9
For each render, we could also store whether the render pass has already shown that room as well in order to not loop infinitely.

Also, fog is cool. Civilization V? ![](http://i590.photobucket.com/albums/ss344/PoweredBySoy/Games/FirstBerlin.jpg)

[2015-04-07 06:51] WasabiFan commented on #9
That sounds like it should work, although I'll need to implement it before I find any unexpected issues.

[2015-04-07 18:55] kyranstar commented on #3
I found a game that has a pretty unique look. It's a puzzle game, but it has an electricity theme, which could go along with the environmental thing. One of the quotes from the person playing the game is something I really agree with, "It's nice to see something stylized without it being pixel graphics." I feel like pixel graphics are a bit overdone so I don't know if we should do them.

[![1000 A

[2015-04-08 01:53] nikbyk commented on #9
I had that figured out. I'll draw up a picture later, but all we need is the room connections list. Like say room 1 connects to 2,3,29. If you go off the end from room 1, the door would send you to 29. Idk if that makes sense. Ill draw up a diagram and email it later, which should make it clearer.

        Sent by Outlook for Android

On Mon, Apr 6, 2015 at 9:02 PM -0700, "Wasabi Fan" <notificatio

[2015-04-08 02:02] WasabiFan commented on #9
What we are discussing is how we want to render that effect, not the mechanic itself. As it currently stands, if we give one of those edge rooms a connection to the other side, it should work; but it will still look like you are hitting the edge of the map before wrapping. My question was just if we want to render the rooms to make it look like an infinite wrap or if we want to use some other sort

[2015-04-08 02:04] nikbyk commented on #9
Oops, sorry misunderstood. I think we should render it so it looks like any other move to another room. Don't need to be special.

        Sent by Outlook for Android

On Tue, Apr 7, 2015 at 7:02 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:

What we are discussing is how we want to render that effect, not the mechanic itself. As it currently stands, if we give one of those edge rooms a

[2015-04-08 02:44] WasabiFan commented on #9
@nikbyk Would you like me to push the code that I [mentioned](https://github.com/kyranstar/Hunt-The-Wumpus/commit/4c31d5bfce59a9950c00172b83091f90d87889e6#commitcomment-10596474)? I recommend that you start thinking about at least that simple version of the generation algorithm now.

[2015-04-08 02:47] nikbyk commented on #9
I know how to randomly generate caves, I just need to figure out a way to code it. I started, and will work more on that tomorrow.

        Sent by Outlook for Android

On Tue, Apr 7, 2015 at 7:44 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk Would you like me to push the code that I [mentioned](https://github.com/kyranstar/Hunt-The-Wumpus/commit/4c31d5bfce59a9950c00172b83091f90

[2015-04-08 16:21] anak4569 commented on #9
Who's currently working on graphics? I wanna start working on them, so I need to know what resolution, size, color scheme and theme we're going for.

[2015-04-08 17:15] WasabiFan commented on #9
I'm the one working on graphics (rendering the scenes, loading the content). Are you saying that you want to start making assets (images, animations, audio, etc.)? If so, I'd recommend that you hold off on that until after we have our game mostly working.

Honestly, I won't know what our preferred format/size is until I have some time to do some research, and right now I'm focused on getting the f

[2015-04-08 18:41] WasabiFan commented on #8
## Detailed TODO (longer-term)
- [ ] Add high score object
  - [ ] Give it an API to be able to read and write scores to be stored in volatile memory
    - Username
    - Score
    - Other info?
  - [ ] Save high scores locally (decide where we want to save it first)
  - [ ] Look into saving them to an Azure backend (for brownie points)
- [ ] Figure out what trivia is supposed to do
  - Does it pr

[2015-04-08 19:39] kyranstar commented on #9
I know that assets take a lot of time, so I think we should discuss our
theme and all of the those specifics when we get together next Friday, so
we don't end up with partially done assets in June.

On Wednesday, April 8, 2015, Wasabi Fan <notifications@github.com> wrote:

[2015-04-14 16:44] nikbyk commented on #3
I don't really like the whole environmental theme. I agree with the last comment. Something stylish might be nice, like Limbo.

[2015-04-14 18:08] WasabiFan commented on #3
Yeah, I'd say we should go for whatever looks best.

[2015-04-15 19:09] #9 closed

[2015-04-18 03:40] WasabiFan commented on #3
Just an idea: since we are going monochrome, I think a "ghost" theme might be an option -- the Wumpus is a shadowy ghost. What do you think?

[2015-04-18 18:41] nikbyk commented on #3
that would be nice

[2015-04-19 20:40] kyranstar opened #10 "Rendering text to the screen"
How do I render text to the screen? I saw the method [SpriteBatch.DrawString (SpriteFont, String, Vector2, Color)](https://msdn.microsoft.com/en-us/library/microsoft.xna.framework.graphics.spritebatch.drawstring.aspx) but that needs a SpriteFont and I haven't figured out how to add one to a monogame project.

[2015-04-19 20:53] WasabiFan commented on #10
You can [get a spritefont](https://msdn.microsoft.com/en-us/library/bb197848(v=xnagamestudio.31).aspx) from the content manager. It would be easiest to use one of the fonts that I have already added (for the menu) from the [content folder](https://github.com/kyranstar/Hunt-The-Wumpus/tree/master/Final%20Game/Content) -- you just pass the name of one of those files to that `LoadContent` method that

[2015-04-19 21:00] kyranstar commented on #10
Okay, cool. Thanks.

[2015-04-19 21:00] #10 closed

[2015-04-21 17:01] kyranstar opened #11 "Scale doesn't work"
If you change the scale of a sprite, it doesn't render as scaled.

[2015-04-21 22:47] WasabiFan commented on #11
Hmmm... docs are pretty vague on this, but all the sources that I can find say that it should scale the sprite.  I'll check this out.

[2015-04-22 23:06] BlueRosesSonyPony commented on #8
I can't figure out where/how to add the trivia class, and I can't see what you have working so far because of the errors popping up, so I'll bring in this laptop to school tomorrow and if one of you could please show me how to get started that would be much appreciated. Thanks.

[2015-04-22 23:43] WasabiFan commented on #8
Sounds good -- I'm sure we can help you figure it out.

[2015-04-23 22:45] WasabiFan commented on #8
@BlueRosesSonyPony I just realized that we forgot to see if we could get your PC set up in class -- sorry! Remind me in class tomorrow.

[2015-04-23 22:46] kyranstar commented on #8
@WasabiFan I talked to her today, and I think we figured it out so that she could commit. We'll see if there are any issues.

[2015-04-23 22:47] WasabiFan commented on #8
Ahhhh I see, thanks.

[2015-04-26 21:38] WasabiFan commented on #3
How do we want to handle the fog? The goal is to obscure the adjacent rooms so that you can't see them, but currently it just looks pathetic.

So, what do we want to do about it? The easiest thing to do would be to draw the current room on top of the fog, while all the other rooms are below. That would work, but then we're have to figure out how we want to render the effect when you travel from on

[2015-04-26 22:49] kyranstar commented on #3
I think we should only draw the rooms we've visited, and just not render the rest, and make the fog thick enough to look like it's obscuring them. We can try to make the fog stay out of the currently visible rooms. And then when we move into a new room, just fade out the fog currently in that room.

We should have a better system for positioning fog in order to have some sort of uniform density th

[2015-04-26 22:49] nikbyk commented on #3
I set the fog opacity low for now, because it doesn't stay out of the current room yet

        Sent by Outlook for Android

On Sun, Apr 26, 2015 at 3:49 PM -0700, "Kyran Adams" <notifications@github.com> wrote:
I think we should only draw the rooms we've visited, and just not render the rest, and make the fog thick enough to look like it's obscuring them. We can try to make the fog stay out of th

[2015-04-26 22:56] WasabiFan commented on #3
I think you're being overly optimistic :wink:. I've spent longer that I would like to admit attempting to make the fog *stay away* but it always ends up being complicated, buggy, or just plain broken. Do you have an idea for how we can do this?

I think the first step is to replace the selective generation with a randomized point within the current view. Currently, after we create a particle, *it

[2015-04-26 23:25] nikbyk commented on #3
We could start with stationary particles then.

        Sent by Outlook for Android

On Sun, Apr 26, 2015 at 3:56 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:

I think you're being overly optimistic :wink:. I've spent longer that I would like to admit attempting to make the fog *stay away* but it always ends up being complicated, buggy, or just plain broken. Do you have an idea for how

[2015-04-27 04:54] kyranstar commented on #11
I think the reason it's not working is that we're passing it a rectangle, so it can't scale up because it's confined. If we do this instead

    Target.Draw(Texture, new Vector2(RenderX, RenderY), rotation: Rotation, color: DrawColor * Opacity, scale: new Vector2(Scale));

It works.

[2015-04-27 04:58] WasabiFan commented on #11
Ahhh I was looking over the MonoGame source last week to try to find the issue, and traced the calls as if we weren't passing in a rectangle. If we are, that would explain it. Nice find!

[2015-04-27 05:00] WasabiFan commented on #11
Please commit that fix when you get the chance.

P.S. Include the phrase "closes #11" in your commit message to automatically link and close the issue.

[2015-04-27 05:02] #11 closed

[2015-05-01 18:11] kyranstar commented on #8
TODO (edit this list)

- [ ] Trivia questions and hints to show up in UI
- [ ] Hazards handled (warnings and hitting detection)
- [ ] Shooting the wumpus
- [ ] Game over
- [ ] Main menu buttons

- [ ] Command line stuff (display warnings, display all tiles, etc.)

[2015-05-04 01:18] WasabiFan commented on #8
@BlueRosesSonyPony If you get a chance today, can you start trying to implement the trivia setup that we discussed on Friday? I think that if we can get that framework in place soon everything else will just be a matter of one-line calls in the appropriate places.

[2015-05-04 02:35] WasabiFan commented on #3
@nikbyk Can you trim the transparent pixels off of the side of the single coin image? I'd like to handle margins programmatically instead of having any built into the image itself.

[2015-05-04 02:39] nikbyk commented on #3
Will do, will push tonight or tomorrow.

        Sent by Outlook for Android

On Sun, May 3, 2015 at 7:35 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk Can you trim the transparent pixels off of the side of the single coin image? I'd like to handle margins programmatically instead of having any built into the image itself.

---
Reply to this email directly or view it on GitHub:

[2015-05-04 02:42] WasabiFan commented on #3
Sounds good. I'm using the coin image in the HUD as an icon next to the user's remaining gold and it's pretty small when we include two separate margins. But the image itself looks good!

[2015-05-04 02:43] nikbyk commented on #3
Great

        Sent by Outlook for Android

On Sun, May 3, 2015 at 7:42 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
Sounds good. I'm using the coin image in the HUD as an icon next to the user's remaining gold and it's pretty small when we include two separate margins. But the image itself looks good!

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar

[2015-05-04 03:51] WasabiFan commented on #3
@nikbyk Oh, and if you get a chance, can you make an arrow thumbnail as well?

[2015-05-04 03:52] nikbyk commented on #3
Absolutely

        Sent by Outlook for Android

On Sun, May 3, 2015 at 8:51 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk Oh, and if you get a chance, can you make an arrow thumbnail as well?

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/3#issuecomment-98582916

[2015-05-05 21:54] BlueRosesSonyPony commented on #8
Sorry, just saw this today -- will work on it either later today or
tomorrow.

On Sun, May 3, 2015 at 6:18 PM, Wasabi Fan <notifications@github.com> wrote:

[2015-05-06 03:08] BlueRosesSonyPony commented on #8
Is anyone else getting an error when they try to run the solution?

On Tue, May 5, 2015 at 2:54 PM, Sonia Skarbek <sonia.skarbek@gmail.com>
wrote:

[2015-05-06 03:35] nikbyk commented on #8
What error?

        Sent by Outlook for Android

On Tue, May 5, 2015 at 8:08 PM -0700, "BlueRosesSonyPony" <notifications@github.com> wrote:
Is anyone else getting an error when they try to run the solution?

On Tue, May 5, 2015 at 2:54 PM, Sonia Skarbek <sonia.skarbek@gmail.com>
wrote:

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/8#i

[2015-05-06 16:13] BlueRosesSonyPony commented on #8
Name: Engine
Value: The value of the local or argument 'Engine' is unobtainable at this
time.
Type: EmptyKeys.UserInterface.Engine

On Tue, May 5, 2015 at 8:35 PM, nikbyk <notifications@github.com> wrote:

[2015-05-06 17:00] WasabiFan commented on #8
Is this showing up as an exception (in a separate box while the application is running) or as a compile error (in the "errors" panel at the bottom of the screen)? Can you include a screenshot of the situation just so that I can get some context?

[2015-05-06 18:02] BlueRosesSonyPony commented on #8
It's a compile error.

On Wed, May 6, 2015 at 10:00 AM, Wasabi Fan <notifications@github.com>
wrote:

[2015-05-06 18:42] WasabiFan commented on #8
In what file and on what line is this occurring?

[2015-05-06 18:50] WasabiFan commented on #8
Oh, wait... I think I might know what's going on. By any chance were you looking at the "Watch 1" panel when you copied that error info? Errors that show up there are not going to prevent you from compiling or running -- it just means that at some point someone added some debug code to your Visual Studio environment. You can safely ignore this.

Have you actually tried to run the project using the

[2015-05-06 20:58] BlueRosesSonyPony commented on #8
I was using start, but I never continued all the way through because if the error, it might just be a debug thing, I'll continue all the way through next time and see what happens.

[2015-05-06 21:44] WasabiFan commented on #8
OK, sounds good.

If it shows you a dialog box that says "There were build errors. Would you like to continue and run the last successful build?", answer "no" and post back the error that appears in the "Error list" section.

If it shows something like this:
![image](https://community.devexpress.com/blogs/markmiller/VisualStudioExceptionHelperDialog_27401710.png)

Click the "Copy exception detail

[2015-05-08 01:41] WasabiFan commented on #3
How do we want to handle rendering the wumpus? Currently, we draw all of the rooms that the user has traveled through (and their adjacent ones). If the wumpus moves into one of those rooms, do we want to let the user see it? If not, we need to dim the rooms that the user has passed through but is not currently in so that they know that things are being hidden. But at that point, is there a reason

[2015-05-08 15:24] WasabiFan commented on #8
@nikbyk Can you remove the margin on the character in the same way you did for the coin?

[2015-05-08 20:00] nikbyk commented on #8
Will do

        Sent by Outlook for Android

On Fri, May 8, 2015 at 8:24 AM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk Can you remove the margin on the character in the same way you did for the coin?

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/8#issuecomment-100272239

[2015-05-09 04:53] WasabiFan opened #12 "Tests are broken"
@kyranstar It looks like the active wumpus broke a fair number of the tests and I'm not really sure what's going on. Can you check it out? It might be good to just disable it in tests.

[2015-05-10 05:10] #12 closed

[2015-05-15 02:53] WasabiFan commented on #8
@BlueRosesSonyPony What's the status of those extra tracking properties that we discussed today? If you are able to finish that and commit/push it today I should be able to get the overall trivia control done before class tomorrow. I already have the GUI part done, so it's just that tracking that we need to be pretty much feature-complete.

[2015-05-15 03:54] BlueRosesSonyPony commented on #8
I was preoccupied earlier - I'll do it now.

On Thu, May 14, 2015 at 7:53 PM, Wasabi Fan <notifications@github.com>
wrote:

[2015-05-15 04:03] BlueRosesSonyPony commented on #8
There I changed it. Not sure if it's quite what you wanted though - you can change it however you want.

[2015-05-15 04:19] WasabiFan commented on #8
Yup -- looks pretty close. There's a small change that I'll need to make, but I think this it all we'll need.

Yeah, I understand :wink: I've been trying to stay within my "graphics" domain and just fill in the cracks to give everyone else a chance to work on their parts. But now that you have implemented the bulk of the class I'll go ahead and finish it up and tie it into the rest of the game.

[2015-05-16 18:51] WasabiFan opened #13 "Aggregate/gather trivia questions"

[2015-05-16 18:51] WasabiFan opened #14 "Add gold and bats to renderer"

[2015-05-16 18:52] WasabiFan opened #15 "Fix bug with trivia submit button"
This is [a bug](http://emptykeys.com/Community/aft/58) in the UI lib that we use.

[2015-05-16 18:55] WasabiFan opened #16 "Render hints in GUI"
The initial flyout has been written, but it never goes away.

Still needs:
- Activation (visibility, button to show it)
  - Animations
- Purchase button and UI

[2015-05-16 18:57] WasabiFan opened #17 "Review spec to find missing pieces"
We're looking for a comprehensive list of the items that we still need to add.

The spec is included as a link on the wiki.

[2015-05-16 19:01] WasabiFan opened #18 "Add randomly-generated cave"
We already have some basic code to create the whole cave. Now we just need to make it limit the corrections to 0<n<4 connections. There is a method to verify this in the map class.

[2015-05-16 19:06] WasabiFan commented on #8
Just as a heads-up, I have added the work items that we discussed yesterday as GH issues and assigned them to the people who volunteered.

[2015-05-16 21:00] kyranstar commented on #18
Do you mean the `CaveUtils.CheckIfValid` method? Does that work?

[2015-05-16 21:04] WasabiFan commented on #18
Yup

Yes, although it is currently commented out [here](https://github.com/kyranstar/Hunt-The-Wumpus/blob/602ac2e952f6613a9d11b6ceaa1f641bcb921938/Final%20Game/Shared%20Code/Cave.cs#L93) so that it doesn't throw exceptions while testing. I recommend that you test your algorithm by calling the check method yourself and then uncomment that line that I referenced when you think that you have it worki

[2015-05-17 00:06] kyranstar commented on #18
@WasabiFan Do you have any idea how I can check if a Room already exists? For example, if I have this:

    0
    1 2
    x 3
and I wanted to check if there was a room below 1, how could I do that? I was thinking I could check all of the rooms for their position and check if any were equal to (1.x, 1.y - 1.height), but that seems hacky. An easier way would be to check if any of x's neighbors are c

[2015-05-17 00:12] WasabiFan commented on #18
What contextual information do you have? If you already have the connections, it should be pretty easy (`1.AdjacentRooms[Direction.South]`), but I doubt that that's what you are trying to do. Are you assuming that you have a grid (say, 5x5) and you want to figure out what ID is below 1? Like what the `MapGenerator.GetIDAtDirection` method does, but in a more elegant way?

[2015-05-17 02:24] kyranstar commented on #18
Sort of. I figured it out, but thanks! I basically just store the rooms in an array whenever I add them and just check whether they exist in the array when I'm adding a new one.

[2015-05-17 04:24] WasabiFan commented on #8
Big heads-up (@kyranstar this probably affects you): I just merged some fairly large changes into the master branch. Any changes in any of the map files will probably result in merge conflicts, so pull now before making more changes.

My updates add a "hints" section on the side of the window. In the future it will be hidden until you activate it, but for now it covers 1/5 of the window and hides

[2015-05-17 05:00] WasabiFan opened #19 "TODO: Resolve all TODOs"
Open the Task List (`View -> Task List`) to see the list of TODO comments and start resolving them, whether that means making a change to clean up hacks or removing the comment because it was already resolved. As of now we have ~30 unresolved.

P.S. You should only look at the ones that are listed as being from the "Desktop" project. The others are mostly duplicates.

[2015-05-17 21:30] WasabiFan commented on #14
I have added both gold and pits, and added a temporary bat picture for debugging Now we just need real pictures.

[2015-05-17 21:31] WasabiFan commented on #14
@nikbyk Any progress on a bat image?

[2015-05-18 04:37] nikbyk commented on #14
Added bat image, but it seems to not move with the bat after you run into it

[2015-05-18 04:41] WasabiFan commented on #14
I saw that too... not sure why it happens. I'll look into it.

P.S. I don't see a recent commit from you -- have you pushed yet?

[2015-05-18 04:41] nikbyk commented on #14
I have

Sent by Outlook for Android

On Sun, May 17, 2015 at 9:41 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:

I saw that too... not sure why it happens. I'll look into it.

P.S. I don't see a recent commit from you -- have you pushed yet?

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/14#issuecomment-102920570

[2015-05-18 04:44] WasabiFan commented on #14
You mean that you have committed and pushed? It's not in the repo on GH as far as I can tell.

[2015-05-18 04:44] nikbyk commented on #14
thats odd, ill try again

[2015-05-18 04:46] nikbyk commented on #14
that should do it

[2015-05-18 04:50] WasabiFan commented on #14
I think I have figured out why the image isn't changing.

P.S. I love your commit message :wink:

[2015-05-18 04:51] nikbyk commented on #14
Lol, yes. I had no clue what the conflict was

Sent by Outlook for Android

On Sun, May 17, 2015 at 9:50 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
I think I have figured out why the image isn't changing.

P.S. I love your commit message :wink:

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/14#issuecomment-102921745

[2015-05-18 04:52] WasabiFan commented on #14
I think it was [this](https://github.com/kyranstar/Hunt-The-Wumpus/commit/5152533f02d7193338e59bb08201f48ea1d78ff4#diff-28dc489df23f4adb7ec6c7b66cae9390L154). It probably just resolved itself.

[2015-05-18 05:19] nikbyk commented on #14
did you figure out why the picture did not travel with the bats?

[2015-05-18 05:23] WasabiFan commented on #14
I just pushed a commit to fix this. There is a problem, though: As soon as you hit the key to enter a bat room, the bat collision is registered and you are moved to a different room. You can see the images by running `display rooms` in the debug console for now.

[2015-05-18 05:27] WasabiFan opened #20 "Fix pit collision reaction and image updates"
This is a two-part issue.

First, we are currently inefficiently iterating over the cave and updating the layout images according to the room array. We should probably remove the gold and pit images from the room layout and instead only use a single image that we choose at draw time based on the actual room object.

Second, when we hit a bat we immediately teleport to our new location and the bats

[2015-05-18 05:37] WasabiFan opened #21 "Name and catchphrase for our game?"
I think we need a title and catchphrase for our game.

The title could be some play on words like "Pac-Man", "Ghost" and "Wumpus" ("Pac-Wumpus", anyone?). A catchphrase could be as simple as "Like Pac-Man, but different".

Any thoughts/suggestions? Putting something like this on our main menu along with a themed background would be pretty cool.

[2015-05-18 05:46] nikbyk commented on #14
Also, there are a few problems with the random maps. You and I should work on those tomorrow in class. Are the guys coming in on friday?

[2015-05-18 05:47] nikbyk commented on #21
Hunt the Pac Man?

Sent by Outlook for Android

On Sun, May 17, 2015 at 10:38 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
I think we need a title and catchphrase for our game.

The title could be some play on words like "Pac-Man", "Ghost" and "Wumpus" ("Pac-Wumpus", anyone?). A catchphrase could be as simple as "Like Pac-Man, but different".

Any thoughts/suggestions? Putting somethin

[2015-05-18 05:56] WasabiFan commented on #14
As I understand it, we won't see them again until the competition. But I still do want to meet at least once a week, maybe more, so that we know what we want to work on.

@kyranstar what's your feeling on the random maps? What needs to be done to make them ready for use? It would be nice for the three of us to sit down and discuss this tomorrow.

[2015-05-18 05:58] WasabiFan commented on #21
I like that! It gives a definite nod to the original competition name.

[2015-05-18 06:02] nikbyk commented on #14
Ideally, we should meet every day, but at least 3 times this week

Sent by Outlook for Android

On Sun, May 17, 2015 at 10:56 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:

As I understand it, we won't see them again until the competition. But I still do want to meet at least once a week, maybe more, so that we know what we want to work on.

@kyranstar what's your feeling on the random

[2015-05-18 16:55] WasabiFan commented on #15
This is fixed and trivia now works.

[2015-05-18 16:55] #15 closed

[2015-05-18 18:11] nikbyk opened #22 "Theme changer for game?"
We should make a theme changer, I'll make assets. Get to work, slaves.

[2015-05-18 20:38] #18 closed

[2015-05-18 20:42] kyranstar opened #23 "Game over scene"
We still need a game over scene for the game.

[2015-05-18 20:50] WasabiFan commented on #23
It's already in there

[2015-05-18 23:04] WasabiFan commented on #23
The game over scene appears when you finish fighting the Wumpus after a collision (whether you win or lost) and after you fail the questions after hitting a pit. We don't currently have any logic to handle shooting the Wumpus, nor does the game over scene tell you whether you won or lost (or what your score was).

[2015-05-18 23:24] #23 closed

[2015-05-19 02:39] WasabiFan commented on #20
I have fixed the inefficiency issue, now we just need to figure out the timing delay thing.

[2015-05-19 16:57] WasabiFan commented on #18
@kyranstar Can you make it add random gold too?

[2015-05-19 22:47] WasabiFan opened #24 "Starting a new game doesn't reset the state"
If you finish a game and then start a new one, you are put in the state that you ended with previously.

[2015-05-19 22:50] WasabiFan opened #25 "Make the active Wumpus less active"
The active Wumpus moves _a lot_. We should probably tune it back a bit.

[2015-05-19 22:54] WasabiFan opened #26 "Make the random algorithm make a rectangular grid (if that is really what we want)"
The spec says that the cave is supposed to be something like a 5x6 grid. Personally, I think the current haphazard caves that we have are pretty cool, but if we want the rectangular cave we should add those constraints sooner rather than later.

[2015-05-19 22:55] WasabiFan commented on #17
@anak4569 What's the status of this? Can you post your list?

[2015-05-19 22:58] WasabiFan commented on #14
@nikbyk Do you have a gold image? It really just needs to be a cherry in the center of the image, and the image should be the same aspect ratio of the cave image. This is the one image that I think should have margin built-in to it.

[2015-05-19 23:02] WasabiFan opened #27 "Add better commands to make the game easier to demo"
- Command to move into the Wumpus room
- Command to disable the particle system to improve perf on low-speed machines
- Command to disable losing (infinite or large number of arrows, reset on game loss, etc)

Also, we should probably refactor the commands into their own folder and put each into their own file. Also, we should optimize them to be easy and quick to type: "display" could be show, for

[2015-05-19 23:04] WasabiFan commented on #8
Does anyone else have ideas for tasks that need to be completed before the 28th? If so, open a new issue for it so that we can track it. Think as much as you can about this because I don't want to be caught off-guard on the day before the demo when we discover that we haven't met some vital part of the spec.

[2015-05-19 23:19] WasabiFan opened #28 "Points to communicate in judging sessions?"
Here's a list of the big things that I think we need to communicate to the judges (feel free to add more):

Code judging:
- Wrote the code like it was a production codebase
  - Easily maintainable
    - Mention the complexity analysis from Visual Studio
  - Broken up into classes and files
  - Duplicate code refactored into helper classes
- Used complex concepts
  - Flags enums
  - Pathfinding alg

[2015-05-19 23:40] kyranstar opened #29 "More GUI functionality"
From spec:

- [x] Display on the game screen a representation of the room, including the hexagonal form of the room, with each edge illustrated as either a tunnel to an adjacent room or a wall blocking access to an adjacent room.  Include an illustration of the player, any present hazards, the wumpus if present, and any additional graphics that add to the realism of the cave.
- [ ] Display on the

[2015-05-19 23:42] kyranstar opened #30 "Purchasing arrows/hints?"
Currently I believe we are unable to do this. Are we going to add this?

[2015-05-19 23:43] kyranstar opened #31 "Redo wumpus behaviors based on spec"
The Lazy Wumpus Object
The Lazy Wumpus object handles the movement of the Wumpus in the current game. The tasks it performs are as follows:
•	Keep track of the current state the Wumpus is in (that is, asleep, awake, moving).
•	If the player shoots an arrow and misses while the Wumpus is sleeping, the Wumpus wakes up and runs up to two rooms away from current position.
•	If the Wumpus is defeated i

[2015-05-19 23:45] WasabiFan commented on #29
I think the inventory is mostly there already, right? The arrows and gold?

On the score, I'm not quite sure if we want to include it. The score is calculated assuming the player killed the Wumpus (100 points - other stuff). Showing the score and then not saving it because they lost seems like a confusing experience. But, it should be very easy to implement, so I can try it out.

[2015-05-19 23:47] WasabiFan commented on #30
Yes, I plan to add this, but we don't have it yet.

[2015-05-19 23:48] WasabiFan commented on #29
I think we also need to decide how we want the GUI to look. I think it would be cool to make it look like an old-style arcade machine dashboard, but I don't know how that might work.

[2015-05-19 23:49] kyranstar commented on #29
We could overlay an image like this

![](http://www.libertygames.co.uk/images/gallery/1141/1395-cosmic-four.jpg)

And just draw the game in the screen?

[2015-05-19 23:50] kyranstar commented on #29
We could just draw the stats up top like in the original game.

[2015-05-19 23:51] kyranstar commented on #31
@WasabiFan The spec doesn't really say which object we should use. Does the wumpus behavior change over the course of the game or is it preset before the game starts? Like a Hard vs. Easy mode?

[2015-05-19 23:57] WasabiFan commented on #29
If we do this, we'll need:
- A shell image (like the one that you showed, but preferably more zoomed-in)
- Preferably some images of one of those arcade buttons in different states (at rest, pressed down) for buttons
- A font for the arcade-like screen. I'm not sure how to do this technically yet.

It would be extra cool if we got an old-looking monitor effect, like [this Linux program](https://gi

[2015-05-20 00:02] WasabiFan commented on #31
I think we should use a static Wumpus for now until we get full spec compliance with everything else, and maybe even get some of the "eye candy" implemented. The Wumpus movement isn't something that the judges will look at and think "wow, that's cool!'. But once we get that stuff mostly complete, we should take a look at adding the "sleeping" mode and associated logic. As it is, the active Wumpus

[2015-05-20 00:31] kyranstar opened #32 "Link Player actions to Wumpus behavior"
Call the behavior methods in the Wumpus behavior interface from player actions.

[2015-05-20 01:31] WasabiFan opened #33 "Ask for username for scores"

[2015-05-20 01:31] WasabiFan opened #34 "Refactor HUDContext so that it can be shown off to judges"

[2015-05-20 01:35] WasabiFan opened #35 "Fix processing order of player and Wumpus movements"
If the player moves into a room and then the active Wumpus moves into the same room, you can be in the same room as the Wumpus without being thrown into trivia. We should process the collisions after everything moves.

[2015-05-20 02:26] WasabiFan commented on #16
You can now show and hide the hint GUI. No animations or hint purchase yet.

[2015-05-20 16:51] WasabiFan opened #36 "Add warnings for wumpus/cave/bats"

[2015-05-20 17:05] anak4569 opened #37 "Updated to-do list:"
Necessary:
-Render bats
-Render gold piles
-Render arrows
-Put a message for hazards
-Load trivia questions
-5 hard coded maps/randomly generated maps
-Buy arrows and hints with trivia
-Add the hint system

Optional:
-Animations (Hazards, moving, shooting)
-Additional looping from side to side
-Updated main menu graphics
-Render gold and score for the user to see

-restarting the game

[2015-05-20 17:35] WasabiFan commented on #37
When you get a chance, please open issues for items that don't already have issues open.

[2015-05-20 20:18] kyranstar commented on #26
I don't think it actually says it has to be a grid. It just uses that for an example, so I vote that we shouldn't do this.

[2015-05-20 20:18] #25 closed

[2015-05-20 20:28] kyranstar commented on #24
e00c8a5 I sorta fixed this. It generates a new map, but it still shows the game over screen when you start the game. I'm not really sure how to fix this, so I'm going to leave it to you.

[2015-05-20 20:36] #35 closed

[2015-05-20 20:40] kyranstar commented on #27
bb5b584 Added command to move into the Wumpus room "mv wumpus"

[2015-05-20 20:41] #21 closed

[2015-05-20 20:41] WasabiFan commented on #21
@kyranstar Why're we closing this?

[2015-05-20 21:16] WasabiFan commented on #30
There's now a "purchase hint" button in the hint flyout.

[2015-05-20 21:19] kyranstar commented on #21
It seemed like we had decided on a name. You can reopen if we want, but I doubt any more of our team will have very much input.

[2015-05-20 21:20] kyranstar commented on #37
What does "render arrows" mean? Shooting animations?

[2015-05-20 21:50] WasabiFan opened #38 "Perf sucks"
Make our code more fasterer.

[2015-05-20 23:29] WasabiFan commented on #36
How do we want to do this graphically? The ideas that I have are:
- A "toast notification" style popup in the corner of the game
- A dedicated area in the UI for showing things like this that doesn't disappear
- A "speech bubble" type image that appears by the character
- An icon that appears over top of the grayed-out room (maybe with some flashing) -- this wouldn't have text

What do you guys th

[2015-05-20 23:31] kyranstar commented on #36
I think you're not supposed to know exactly which room contains the hazard,
so you can't do that last one. I think the speech bubble would look kinda
dumb too? We do have a lot of available UI space, so we could do the
dedicated space thing, or have it extend when warnings are in place.

On Wednesday, May 20, 2015, Wasabi Fan <notifications@github.com> wrote:

[2015-05-21 02:25] WasabiFan commented on #33
Added in 41f7f13560bb1829117cfe3c34c1330e01a1fe6c -- not perfect, but it works for demos.

[2015-05-21 02:25] #33 closed

[2015-05-21 18:03] kyranstar commented on #26
We decided not to in class

[2015-05-21 18:03] #26 closed

[2015-05-22 01:29] kyranstar commented on #38
Our biggest slowdowns are the particle systems, I just measured. They take almost a hundred times as much time as the rest of the render code. Perhaps if it runs slowly on the demo computer we can just disable the particle systems? I'll write a command for it now.

[2015-05-22 01:31] WasabiFan commented on #38
OK; sounds good. I'm currently working on making the game reset correctly.

[2015-05-22 01:48] WasabiFan commented on #38
We can also try to make some of that code faster -- maybe put some of it in an `unsafe` block and regress to the pointer age?

[2015-05-22 02:51] nikbyk commented on #38
@WasabiFan what did you do after you rolled back to 10074 to get start and action center back?

[2015-05-22 02:55] WasabiFan commented on #38
Uhhhhh... I gave up? I think I'm just going to try to upgrade to 10122 again, and maybe revert again. Why, did you hit the same issue?

[2015-05-22 02:55] nikbyk commented on #38
yep did u run sfc?

[2015-05-22 02:56] WasabiFan commented on #38
I ran it and it said that it fixed errors... but the problem didn't go away.

[2015-05-22 02:57] nikbyk commented on #38
okay, ill try and see

[2015-05-22 02:57] nikbyk commented on #38
wait, fixed vs errors?

[2015-05-22 02:58] nikbyk commented on #38
we should have just done that on 10122 then

[2015-05-22 02:58] WasabiFan commented on #38
It said that it had found corrupted files and repaired them, but after restarting I still couldn't open the Start menu

[2015-05-22 03:05] WasabiFan commented on #38
No, not the VS errors, sadly

[2015-05-22 03:05] nikbyk commented on #38
ah, damn. even in 10074?

[2015-05-22 03:07] WasabiFan commented on #38
No; it was fine in 10074 from the start. Just not on 10122.

P.S. we probably shouldn't be discussing this in this issue ;)

[2015-05-22 03:09] nikbyk commented on #38
lol, yea ur right

[2015-05-22 03:36] nikbyk commented on #38
sorry for continuing here, but I can't get back to 10122, or get the start menu working

[2015-05-22 03:43] WasabiFan commented on #38
Why not? What's the issue?

[2015-05-22 03:43] nikbyk commented on #38
Its not in update. Doesnt show up

[2015-05-22 03:44] WasabiFan commented on #38
Make sure that you're in the fast ring, restart, and try again?

[2015-05-22 03:45] nikbyk commented on #38
i did

[2015-05-22 03:46] WasabiFan commented on #38
Hmmm... I don't know then -- that's what I did

[2015-05-22 03:46] nikbyk commented on #38
you're back on 10122?

[2015-05-22 03:46] nikbyk commented on #38
ill keep trying i guess

[2015-05-22 03:47] WasabiFan commented on #38
I'm 64% of the way there

[2015-05-22 03:48] nikbyk commented on #38
ok, lemme know if your start menu comes back

[2015-05-22 03:54] nikbyk commented on #38
device is up to date

[2015-05-22 03:57] WasabiFan commented on #38
If it says that you're on build *74 and it still doesn't show any available updates, I really have no idea what's going on... maybe try to restore to the restore point that it creates just before the upgrade from *74 to *122?

[2015-05-22 03:57] nikbyk commented on #38
how would I do that?

[2015-05-22 04:00] WasabiFan commented on #38
Settings > Update > Recovery, I think. If there isn't an option to restore from a restore point there, select "advanced startup" and when it reboots click "troubleshoot > advanced > restore point.

P.S. It's really sad that I know that from memory

[2015-05-22 04:02] nikbyk commented on #38
Lol, it kinda is

Sent by Outlook for Android

On Thu, May 21, 2015 at 9:00 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
Settings > Update > Recovery, I think. If there isn't an option to restore from a restore point there, select "advanced startup" and when it reboots click "troubleshoot > advanced > restore point.

P.S. It's really sad that I know that from memory

---
Reply to this

[2015-05-22 04:03] nikbyk commented on #38
I don't see a restore point option

[2015-05-22 04:08] WasabiFan commented on #38
In which menu?

[2015-05-22 04:09] nikbyk commented on #38
Troubleshoot. Just has uefi and startup settings

[2015-05-22 04:09] nikbyk commented on #38
I'll just install from I so I giess

[2015-05-22 04:12] WasabiFan commented on #38
Huh... IDK then. My re-upgrade seems to have worked (?)

[2015-05-22 04:39] WasabiFan commented on #38
I'm extremely confused. After re-upgrading, this error seems to have gone away.. I can now build and run our game.

[2015-05-22 04:40] nikbyk commented on #38
What? How?

Sent by Outlook for Android

On Thu, May 21, 2015 at 9:39 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
I'm extremely confused. After re-upgrading, this error seems to have gone away.. I can now build and run our game.

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104505505

[2015-05-22 04:41] WasabiFan commented on #38
I don't know... but I can't repro the issue anymore

[2015-05-22 04:42] nikbyk commented on #38
Well, I'll try too once I get to 10122

Sent by Outlook for Android

On Thu, May 21, 2015 at 9:41 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
I don't know... but I can't repro the issue anymore

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104505647

[2015-05-22 04:42] WasabiFan commented on #38
K; I'd like to see what happens.

[2015-05-22 04:43] nikbyk commented on #38
Me too. Assuming I can upgrade after reinstalling 10074

Sent by Outlook for Android

On Thu, May 21, 2015 at 9:42 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
K; I'd like to see what happens.

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104505867

[2015-05-22 04:44] WasabiFan commented on #38
Before you upgrade from *74, can you install VS, clone the repo, and run a build? I think it could be related to being installed during the upgrade.

[2015-05-22 04:49] nikbyk commented on #38
Will do

Sent by Outlook for Android

On Thu, May 21, 2015 at 9:44 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
Before you upgrade from *74, can you install VS, clone the repo, and run a build? I think it could be related to being installed during the upgrade.

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104

[2015-05-22 05:09] nikbyk commented on #38
Runs on 10074

[2015-05-22 05:09] nikbyk commented on #38
If windows update works, should be moving to 10122 soon

[2015-05-22 05:10] WasabiFan commented on #38
Yup; as long as you know that it runs on *74

[2015-05-22 05:23] nikbyk commented on #38
Some updates currently stuck at 0%. No 10122 in sight yet.

[2015-05-22 05:32] nikbyk commented on #38
@WasabiFan System Firmware Update - ‎5/‎14/‎2015 - Error 0x80070002

[2015-05-22 05:41] nikbyk commented on #38
All updates installed, but no 10122 in windows update :(

[2015-05-22 05:55] WasabiFan commented on #38
Are you sure that you are in the fast ring and connected to Wi-Fi?

[2015-05-22 05:56] nikbyk commented on #38
Yep. I'll give it until tomorrow and see if it works

Sent by Outlook for Android

On Thu, May 21, 2015 at 10:55 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
Are you sure that you are in the fast ring and connected to Wi-Fi?

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104523645

[2015-05-22 17:26] WasabiFan commented on #38
http://community.monogame.net/t/windows-10-insider-preview-10122-appears-to-break-content-pipeline/2479

[2015-05-22 17:27] nikbyk commented on #38
But ur errors went away?

Sent by Outlook for Android

On Fri, May 22, 2015 at 10:27 AM -0700, "Wasabi Fan" <notifications@github.com> wrote:
http://community.monogame.net/t/windows-10-insider-preview-10122-appears-to-break-content-pipeline/2479

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104720778

[2015-05-22 17:43] WasabiFan commented on #38
Yep... I'm thinking it's an issue with corrupted files on upgrade. After I reinstalled, maybe it fixed some file (?)

That's why I want to see what your machine does.

[2015-05-22 18:19] nikbyk commented on #38
Well, I still can't get to 10122

Sent by Outlook for Android

On Fri, May 22, 2015 at 10:43 AM -0700, "Wasabi Fan" <notifications@github.com> wrote:
Yep... I'm thinking it's an issue with corrupted files on upgrade. After I reinstalled, maybe it fixed some file (?)

That's why I want to see what your machine does.

---
Reply to this email directly or view it on GitHub:
https://github.com/kyransta

[2015-05-22 18:35] nikbyk commented on #38
I still cant get to 10122: Your device is up to date
Any ideas?

[2015-05-22 18:38] WasabiFan commented on #38
I'm out of ideas, honestly -- maybe look at your WU history? Other than that, I can't think of anything at the moment. I'll take a look around on my device and see if I get any ideas.

[2015-05-22 18:39] nikbyk commented on #38
Should I uninstall updates or last build?

[2015-05-22 18:40] WasabiFan commented on #38
You could try it, but I wouldn't recommend it -- rolling back is not something that they test very much.

[2015-05-22 18:41] nikbyk commented on #38
ok

[2015-05-22 18:54] nikbyk commented on #38
I give up, I'll install from iso

[2015-05-22 19:04] WasabiFan commented on #38
Do they really have an ISO of 10122 yet?

[2015-05-22 19:05] nikbyk commented on #38
nope, people make them from esd files

[2015-05-22 19:08] WasabiFan commented on #38
Oh great that sounds safe :confused:

[2015-05-22 19:09] nikbyk commented on #38
yep, but people seem to have used them before

[2015-05-22 20:17] nikbyk commented on #38
no errors on 10122

[2015-05-22 20:26] WasabiFan commented on #38
Hmmm... I think they might have released a patch, but haven't gotten a chance to check yet.

[2015-05-22 20:53] nikbyk commented on #38
There was an update to fix amd driver issues

Sent by Outlook for Android

On Fri, May 22, 2015 at 1:26 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
Hmmm... I think they might have released a patch, but haven't gotten a chance to check yet.

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104759755

[2015-05-22 21:33] nikbyk commented on #38
Also, about the game, after a pull no trivia or end game shows up. Opacity of those is 0

[2015-05-22 21:38] WasabiFan commented on #38
@nikbyk Try now

[2015-05-22 21:39] nikbyk commented on #38
Great, works now

Sent by Outlook for Android

On Fri, May 22, 2015 at 2:38 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk Try now

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/38#issuecomment-104782626

[2015-05-23 06:11] WasabiFan commented on #24
Seems to be fixed with 0493f00025ab2bfa7fac560af1479dcb200747e4

[2015-05-23 06:11] #24 closed

[2015-05-23 06:42] WasabiFan opened #39 "Cave generation throwing assertion errors"
As I am debugging our game, I am repeatedly hitting debug error dialogs because assertions are failing in the cave generator. I think that we should replace these debug assertions with error/warning logging so that we don't show the judges a big error dialog when we start the game. I think it would be easiest to define an `Assert` method in our `Log` class that perforns the same core function as `

[2015-05-23 06:45] WasabiFan opened #40 "Cave wrapping getting confusing"
Since we determined that we don't want to follow a strict grid pattern, I think that we should disable the cave wrapping in the generator. Currently, I find myself in confusing situations where the wrapping just makes navigating more of a pain than an interesting element. What do you guys think?

[2015-05-23 15:01] anak4569 commented on #40
Guys, I would like to help on certain issues that we need to get done, but I'm not sure which ones are our priority. Could someone tell me which issues are 1st priority, 2nd priority, etc. so I can start working?

[2015-05-23 15:13] nikbyk commented on #39
That's a good idea, thought it was just me

Sent by Outlook for Android

On Fri, May 22, 2015 at 11:42 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
As I am debugging our game, I am repeatedly hitting debug error dialogs because assertions are failing in the cave generator. I think that we should replace these debug assertions with error/warning logging so that we don't show the judges

[2015-05-23 15:14] nikbyk commented on #40
I'm pretty sure wrapping is in the spec

Sent by Outlook for Android

On Fri, May 22, 2015 at 11:45 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
Since we determined that we don't want to follow a strict grid pattern, I think that we should disable the cave wrapping in the generator. Currently, I find myself in confusing situations where the wrapping just makes navigating more of a pain

[2015-05-23 18:23] WasabiFan commented on #40
You're right -- it is. But personally, I'd rather have a more interesting & less confusing game than follow the spec 100%. It's not a big issue, so if we want to keep it as-is that's fine.

The issues labeled `required for spec` are 1st priority, the ones labeled `important (not required)` are 2nd. Feel free to pick any issue, assign it to yourself, and start working on it!

[2015-05-23 18:56] #40 closed

[2015-05-23 18:57] kyranstar commented on #39
Is it just the cave wrapping that's throwing errors?

[2015-05-23 18:59] WasabiFan commented on #39
It was in `MapGenerator` line 184, I think.

[2015-05-23 19:24] #20 closed

[2015-05-23 19:42] kyranstar commented on #39
Okay. Well since I commented out the `AddSideConnections` method we can probaly close this issue

[2015-05-23 19:51] #39 closed

[2015-05-23 19:58] WasabiFan opened #41 "Art needed"
Here's a list of "art" tasks that I think should be done:
- [ ] Crop the background image so that it can be repeated as a texture. This could be cropped so it's just one hexagonal cell.
- [x] Create a background for the menu screens. I think it would be nice to have some sort of art here.
- [x] A picture of the frame around an arcade machine display that we could overlay over the game.
- [x] Along

[2015-05-23 20:53] kyranstar commented on #41
You mean like these?

![](https://d3fvptmknnj7i1.cloudfront.net/inline/pianocade-retro-synthesizer-2.jpg) I can do that.

[2015-05-23 20:57] WasabiFan commented on #41
Those buttons look pretty close, although we'd need to try to depress them in Photoshop. I'll try it out and see it I can make it work.

[2015-05-23 20:58] WasabiFan commented on #41
Of course, if you _can_ just make them in photoshop from the start that would be best.

[2015-05-23 20:59] kyranstar commented on #41
Wait... I forgot that I'm totally awful at digital art

[2015-05-23 21:04] WasabiFan commented on #41
@nikbyk ? ;)

[2015-05-23 21:05] nikbyk commented on #41
Will do. Probly by tomorrow

Sent by Outlook for Android

On Sat, May 23, 2015 at 2:04 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk ? ;)

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/41#issuecomment-104944706

[2015-05-23 22:25] nikbyk commented on #41
Right after I pulled I received my favorite texture importer error and can't run it anymore. @WasabiFan

[2015-05-23 22:36] WasabiFan commented on #41
What build are you on? Have you installed _all_ Windows Updates?

[2015-05-23 22:37] nikbyk commented on #41
10122, lemme check on updates

Sent by Outlook for Android

On Sat, May 23, 2015 at 3:36 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
What build are you on? Have you installed _all_ Windows Updates?

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/41#issuecomment-104951744

[2015-05-23 22:39] nikbyk commented on #41
Installing all updates

[2015-05-23 22:39] WasabiFan commented on #41
Can you record a list of all the uodates that it installs?

[2015-05-23 22:41] nikbyk commented on #41
Still get the error. Not 30 tho. For the RoomGoldOverlay file

[2015-05-23 22:42] nikbyk commented on #41
There was a firmware and windows defender update

[2015-05-23 22:43] WasabiFan commented on #41
Restart the PC, start VS, do a clean, then a build, and tell me what happens

[2015-05-23 22:45] nikbyk commented on #41
Still get the errors

[2015-05-23 22:47] WasabiFan commented on #41
How many? And are they the texture ones?

[2015-05-23 22:48] nikbyk commented on #41
2 just gold texture and some command exited with value of 1. Also, I accidentally pushed a revert to 8ce887a4

[2015-05-23 22:50] nikbyk commented on #41
Reckoned and am now sitting with 31 errors

[2015-05-23 22:50] nikbyk commented on #41
Recloned*

[2015-05-23 22:52] nikbyk commented on #41
@kyranstar nice job :)

[2015-05-23 22:56] WasabiFan commented on #41
Just revert the revert ;)

As for the errors, I'm really not sure... Can you run Windows 8 in a VM? I haven't gotten any useful replies...

[2015-05-23 22:57] nikbyk commented on #41
Do you get the errors?

[2015-05-23 22:58] nikbyk commented on #41
Theres this too
 Error	39	The command ""C:\Program Files (x86)\MSBuild\MonoGame\v3.0\Tools\MGCB.exe" /@:"C:\Users\Nikolay\Source\Repos\Hunt-The-Wumpus\Final Game\Content\Content.mgcb" /platform:Windows /outputDir:"C:\Users\Nikolay\Source\Repos\Hunt-The-Wumpus\Final Game\Platform\Desktop\Content\bin\Windows" /intermediateDir:"C:\Users\Nikolay\Source\Repos\Hunt-The-Wumpus\Final Game\Platform\Desktop

[2015-05-23 22:59] WasabiFan commented on #41
That just means that there was an error with the texture generator, which you already know

[2015-05-23 23:00] nikbyk commented on #41
wth is wrong tho. Shouldn't be 10122 then.

[2015-05-23 23:02] WasabiFan commented on #41
Yes, I do. All we know at this point is that it is something that this build causes...

[2015-05-23 23:02] nikbyk commented on #41
But it worked fine yesterday multiple times, so it's probably something we trigger

[2015-05-23 23:06] WasabiFan commented on #41
When it worked, had you upgraded from a previous build or started from an empty drive? If you had previously built the project (while not on 10122) and then upgraded, the asset files would already be there when you ran a build, so it wouldn't try to generate them again. But I then added a file, so it didn't have an existing one and was forced to generate just that one -- that's why it was just one

[2015-05-23 23:10] nikbyk commented on #41
That makes sense. So we should just downgrade to 10074 until after the contest?

[2015-05-23 23:13] WasabiFan commented on #41
Or check in our generated asset files... but I don't like that possibility. Have you tried running a VM of 8?

[2015-05-23 23:22] nikbyk commented on #41
No, not yet, I don't have time to install 8 on a VM right now. Maybe you could try?

[2015-05-23 23:25] WasabiFan commented on #41
OK; I'll try and see how it runs on the Surface ;)

[2015-05-23 23:25] nikbyk commented on #41
Cool

[2015-05-23 23:34] kyranstar commented on #41
You guys know we have a chat thing for a reason, right? Haha

[2015-05-23 23:37] WasabiFan commented on #41
Yeah but we aren't very good at using tools in the way that they are intended :wink:

[2015-05-23 23:42] WasabiFan commented on #41
We should track our source code in chat and communicate in a `txt` file in our repo

[2015-05-24 05:27] WasabiFan commented on #41
@nikbyk I'm going to delete our conversation in this issue so that we can use it to track real stuff.

[2015-05-24 05:29] nikbyk commented on #41
Ok

Sent by Outlook for Android

On Sat, May 23, 2015 at 10:27 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk I'm going to delete our conversation in this issue so that we can use it to track real stuff.

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/41#issuecomment-104982123

[2015-05-24 05:31] WasabiFan commented on #41
I just added a little "Wumpus chase scene" to the main menu. It's still rough, but this creates a new required art piece: a dot. Just a single dot like the arrow image to trace the path as they move around the menu. Like the Pac-Man dots.

[2015-05-24 22:05] WasabiFan commented on #41
@nikbyk I just added a few more things to this list ;)

[2015-05-24 22:06] nikbyk commented on #41
Okay. Will get to them tonight. Regarding the errors, should I roll back to 10074?

Sent by Outlook for Android

On Sun, May 24, 2015 at 3:05 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk I just added a few more things to this list ;)

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/41#issuecomment-105067532

[2015-05-24 22:13] WasabiFan opened #43 "Discussing stuff"
@nikbyk

It's your choice. If you don't have an issue with not having the latest build and are O.K. with taking the risks of rolling back, go for it -- it'll make your life a lot easier if you don't have to get around these errors. Otherwise, I really don't know what we can do about it other than use a different machine...

I haven't gotten a chance to try out that VM, though.

[2015-05-25 00:11] WasabiFan opened #44 "How do we want to handle arrow purchase?"
In the spec, it says:

There are two interpretations that I can take away from reading that:
- Asking to purchase arrows and then correctly answering 2/3 questions gives you two arrows, and you can do this as many times as you want
- Asking to purchase arrows and then correctly answering 2/3 questions gives you one arrow, and you are only permitted to do this twice

Which one do we like best?

[2015-05-25 04:49] WasabiFan opened #45 "Commenting code files! Yay!"
So that we can show off our code and claim that it's "good code" to the judges, we should try to get as much of it commented (at least at a basic level) as possible. We should be able to open **any** file and be confident that it has comments -- seeing comments (even without reading them) goes a long way towards making a code judge like you. I have included a list below of the files that we have i

[2015-05-25 04:51] WasabiFan commented on #36
I have added these warnings to the GUI tray. It only shows one ATM, but I hope to show all of them in the future.

[2015-05-25 04:51] #36 closed

[2015-05-25 04:51] WasabiFan commented on #34
This is _mostly_ done.

[2015-05-25 04:51] #34 closed

[2015-05-25 04:53] WasabiFan commented on #14
The gold and bats show up now and fade away when you hit them.

[2015-05-25 04:53] #14 closed

[2015-05-25 04:53] #13 closed

[2015-05-25 20:16] nikbyk commented on #41
I'll make these probably by tonight, sorry for the delay. I am reinstalling 10074 first, though

[2015-05-25 21:17] WasabiFan commented on #41
It's fine ;) These images aren't really time-sensitive... any time before Thursday should work. They're pretty much just drop-in replacements.

I think the highest priority is the arcade theme -- so buttons and a frame. Then the last three icons on the list are second pri. The rest is mostly just polishing the shiny stuff.

[2015-05-25 21:34] kyranstar commented on #44
I like the second one. It makes the game actually somewhat hard.

[2015-05-25 21:35] nikbyk commented on #41
added most of the pictures. Will finish the rest over the next day or so

[2015-05-25 21:36] kyranstar opened #46 "Label turn number"
I think the turn number in the corner of the GUI is a bit confusing. At first, since it was next to hints, I thought i meant I had 85 hints ready.

I think we label it: `Turns: 85`

[2015-05-25 21:37] kyranstar opened #47 "Running out of arrows does not end game"

[2015-05-25 21:41] WasabiFan commented on #46
My plan is to add an icon to disambiguate it. It looks like @nikbyk just checked the box in the "art" issue and made a commit, so my guess is that it's done -- I'll add this icon in the UI shortly.

[2015-05-25 21:44] WasabiFan commented on #47
I think you also are supposed to lose if you run out of coins, although I'm not sure how we handle that given that you start with 0 (I guess you get one immediately for entering the start room).

[2015-05-25 21:58] kyranstar commented on #41
Uhh... Why is everything yellow in the title screen?
![image](https://cloud.githubusercontent.com/assets/5855296/7802614/662a51d2-02ee-11e5-9fe9-8eccab29a878.png)

[2015-05-25 21:59] WasabiFan commented on #41
They look good!

On the hex background image, it doesn't look like it is tile-able (there's margin around it and some of the outline is cut off). In the end, this image will be tiled as a rectangular image, so it should probably be the edges of four or so cells -- I'd recommend that you make a pattern of four hexagons, and then crop it to the center points on each side. Something like this (crop l

[2015-05-25 22:01] WasabiFan commented on #41
@kyranstar Try now... I changed the scale from 15x to 0.03x

[2015-05-25 22:04] kyranstar commented on #41
@WasabiFan Yup, it works. Cool.

[2015-05-25 22:08] nikbyk commented on #41
Will do

Sent by Outlook for Android

On Mon, May 25, 2015 at 2:59 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
They look good!

On the hex background image, it doesn't look like it is tile-able (there's margin around it and some of the outline is cut off). In the end, this image will be tiled as a rectangular image, so it should probably be the edges of four or so cells -- I'd recomme

[2015-05-25 22:56] WasabiFan opened #48 "Fully implement hints/secrets"
In the spec, they mention "hints" and "secrets". It is explained that secrets are contextual pieces of info that relate specifically to the map that the user is playing on. "Hints" are never explained, although it appears that they are the pieces of trivia that you give the user.

So, I think that we should use the current "hint flyout" to be a general space to show both hints (pieces of tivia) an

[2015-05-25 23:10] WasabiFan commented on #41
@nikbyk Can you remove the margin on the "turns" image? It's pretty small ATM.

For the "purchase" button, can you either:
- Make a duplicate that says "secret" instead of "arrow"
- Remove the text and make it just a single dollar (maybe with a + sign) so that it can be used in both instances

I just added the warning and turns icons to the GUI, and it looks pretty good. I recommend that you guys

[2015-05-25 23:10] WasabiFan commented on #41
@nikbyk Sorry for giving you all these little tasks!

[2015-05-26 01:23] nikbyk commented on #41
Its okay

Sent by Outlook for Android

On Mon, May 25, 2015 at 4:10 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk Sorry for giving you all these little tasks!

---
Reply to this email directly or view it on GitHub:
https://github.com/kyranstar/Hunt-The-Wumpus/issues/41#issuecomment-105333343

[2015-05-26 02:59] WasabiFan commented on #46
I think we can call this done -- as soon as @nikbyk gets a chance to resize the image, it should look good too.

[2015-05-26 02:59] #46 closed

[2015-05-27 00:49] WasabiFan commented on #48
@kyranstar I just pushed a new SecretManager class that is supposed to create new secrets and compose their text. Can you implement that `UnlockNewSecret` method? From the spec, it says:

That method should randomly pick the type of secret to give and generate text for it. You can chose what kinds of info it might include. I'm currently working on getting the GUI part of this hooked up so that we

[2015-05-27 01:17] kyranstar commented on #48
How can I test it? Does it get called?

[2015-05-27 01:23] WasabiFan commented on #48
You aren't supposed to be able to buy hints -- we misread/misunderstood the spec. You can buy secrets; hints are the "pieces of trivia" that you get every time you enter a new room. This is why I am rushing for this in the last few days -- I only realized yesterday that we had a whole extra set of things to add. And we still don't have the actual hint text :worried:

My hope is that I will have th

[2015-05-27 01:46] kyranstar commented on #48
Cool! Should hints happen whenever you enter a new room or whenever you enter any room? Because right now it's any room. Also, text doesn't scroll.

[2015-05-27 01:52] WasabiFan commented on #48
It's supposed to be a new room. I just left a comment on your commit about that (before I noticed your post here), but yeah.. that's another little detail that we just never got to fully implement.

I'm trying to figure that out... I think there's something simple that I need to do to make it scroll, I just don't remember what it is :(

[2015-05-27 03:01] nikbyk commented on #41
Arcade images in

[2015-05-27 03:09] WasabiFan commented on #41
Looks good. I'll add the render code and we can see how it looks.

[2015-05-27 03:10] nikbyk commented on #41
alright

[2015-05-27 03:52] #47 closed

[2015-05-27 04:00] #32 closed

[2015-05-27 04:10] nikbyk commented on #41
@WasabiFan How long do you think on the render code?

[2015-05-27 04:11] WasabiFan commented on #41
Hhhhhh... I don't know, sadly. I think I am close to understanding the correct way to do it...? So... I'd say maximum an hour, hopefully less.

[2015-05-27 04:12] WasabiFan commented on #41
I hope the confusion doesn't come through in my messages.

[2015-05-27 04:12] nikbyk commented on #41
Okay, sounds good. I'm making buttons right now

[2015-05-27 04:13] WasabiFan commented on #41
Great! If the game doesn't function, at least it will look pretty.

[2015-05-27 04:14] WasabiFan commented on #41
Honestly, that's probably going to get us more points with the judges than adding actual hints :wink:

[2015-05-27 04:16] nikbyk commented on #41
lol, true

[2015-05-27 04:51] WasabiFan commented on #41
@nikbyk I just added the initial version of the frame renderer. The two sides are wider than half the viewport, so they overlap (without using the middle image yet). Can you make them thinner, and maybe remove one of the titles on the top? I think if we trim back the space that it takes up it will look pretty cool.

It also looks like they don't line up perfectly... they're off by a few pixels ver

[2015-05-27 04:52] nikbyk commented on #41
rly? thats weird. I'll slim down the sides

[2015-05-27 04:58] nikbyk commented on #41
done

[2015-05-27 05:03] WasabiFan commented on #41
Here's what it looks like:
![capture](https://cloud.githubusercontent.com/assets/3310349/7829143/add9a514-03f2-11e5-8633-6a0912b8de3f.PNG)

I think that we should:
- Fix that cut-off part on the top (cut off the arm on the right side)
- Remove the dots on the bottom (so that we can put the UI counters there)
- Slim the side bars down some more, maybe to about 50%-60% of what it is now.

Overall it

[2015-05-27 05:04] nikbyk commented on #41
will do

[2015-05-27 05:08] WasabiFan commented on #41
Can you actually cut out the part of the bottom bar (make it transparent) between the besels? I'd like to be able to render the GUI under it.

[2015-05-27 05:08] nikbyk commented on #41
sure

[2015-05-27 05:13] nikbyk commented on #41
done, can you make your gray bottom bar taller, to match the arcade frame?

[2015-05-27 05:15] WasabiFan commented on #41
Yup; I'll take a look and start adjusting today and tomorrow.

[2015-05-27 05:15] nikbyk commented on #41
also, hints and shit turn out to be behind the frame, too

[2015-05-27 05:16] WasabiFan commented on #41
I know... I'll have to figure it out.

[2015-05-27 05:18] nikbyk commented on #41
okay, is that all i need to do for today? I can finish the main menu image tomorrow

[2015-05-27 05:19] WasabiFan commented on #41
Yup; sorry for all this! I'll work on adapting the UI.

[2015-05-27 05:19] nikbyk commented on #41
it's alright

[2015-05-27 21:06] WasabiFan opened #49 "Making trivia answers less obvious"
Currently, the first answer is always the correct one. Can we fix this? The two places that I think this would be easiest are on load, when it takes the questions from the file, and at render time (when it gives the set of answers from the context).

Anyone willing to give this a shot?

[2015-05-27 21:34] WasabiFan commented on #41
@nikbyk I just pushed the majority of the updates that we'll need for the arcade frame (although some stuff still looks funky, and other parts just aren't adapted correctly). I think we can make the whole thing look cohesive if we continue the frame along the bottom and either:

- Cut a transparent hole between the bezels in the image and render the HUD under it
- Move the order so that it renders

[2015-05-27 21:40] nikbyk commented on #41
Didn't I already do that?

Sent by Outlook for Android

On Wed, May 27, 2015 at 2:34 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
@nikbyk I just pushed the majority of the updates that we'll need for the arcade frame (although some stuff still looks funky, and other parts just aren't adapted correctly). I think we can make the whole thing look cohesive if we continue the frame along th

[2015-05-27 21:49] WasabiFan commented on #41
I think I'm not being very descriptive with my wording ;) Currently, we have it so that the trapezoidal edges show up on the inside of the bottom frame (there is _no_ frame image in the bottom-center). I'm looking to remove the inner edges (the vertical bezel on the bottom) and make it a continuous bar like before but with the center cut out. Like this (rough cut):
![capture](https://cloud.githubu

[2015-05-27 21:56] nikbyk commented on #41
Oh, I see. Okay. I'll get to that when I get home

Sent by Outlook for Android

On Wed, May 27, 2015 at 2:55 PM -0700, "Wasabi Fan" <notifications@github.com> wrote:
I think I'm not being very descriptive with my wording ;) Currently, we have it so that the trapezoidal edges show up on the inside of the bottom frame (there is _no_ frame image in the bottom-center). I'm looking to remove the inner

[2015-05-27 22:19] anak4569 commented on #49
Sure, I can do this. I was just wondering, where should I put the hints? In the secret manager?

[2015-05-27 22:50] WasabiFan commented on #49
You'll probably want to try randomizing the `AnswerChoices` in each question around [here](https://github.com/kyranstar/Hunt-The-Wumpus/blob/master/Final%20Game/Shared%20Code/Trivia/Trivia.cs#L41).

It's those lines that add to the `LockedHints` [here](https://github.com/kyranstar/Hunt-The-Wumpus/blob/master/Final%20Game/Shared%20Code/Trivia/Trivia.cs#L33). I recommend that you read through our li

[2015-05-27 23:21] WasabiFan commented on #44
You can now purchase arrows, although it doesn't limit the number of arrows yet.

[2015-05-27 23:25] WasabiFan commented on #28
@kyranstar Can you make sure that the pathfinding code is well-commented? I think that's a good piece to demo to the judges.

P.S. What other code sections do you guys think we should highlight? I think the fact that we used XAML is a good one, and maybe the custom attributes that we used for animation as well.

We probably should create a bookmark file in VS for quick reference.

[2015-05-28 00:11] kyranstar commented on #43
Does anybody know whether we're supposed to bring lunch to the competition?

[2015-05-28 00:12] nikbyk commented on #41
done

[2015-05-28 00:13] WasabiFan commented on #43
The schedule that we were given doesn't specify...

[2015-05-28 00:16] nikbyk commented on #43
No, we don't. MSFT will feed us, along with free money for company store.

[2015-05-28 00:16] nikbyk commented on #43
If anyone wants to join me, I'll be there around 9:25, maybe we can do some finishing touches

[2015-05-28 00:22] WasabiFan commented on #43
I'll probably be there by then too; I guess I'll come by the competition area early (around then) and we can get set up and apply finishing touches.

@NickSiBo Don't break or forget your laptop -- it _is_ our fate.

[2015-05-28 00:27] WasabiFan opened #50 "Wumpus is often placed close to the player"
I find that the Wumpus is often 1-3 rooms away when the game starts. This is a problem.

[2015-05-28 00:29] nikbyk commented on #43
@WasabiFan great

[2015-05-28 00:39] #50 closed

[2015-05-28 00:46] #29 closed

[2015-05-28 00:48] kyranstar opened #51 "GUI doesn't fit to screen"
This happens on my computer. I'm not sure why, I just hope it doesn't happen on the demo computer.

![image](https://cloud.githubusercontent.com/assets/5855296/7850545/7e21024e-0498-11e5-96a4-032d31c153e0.png)

[2015-05-28 00:50] kyranstar commented on #22
Sounds like this isn't happening.

[2015-05-28 00:50] #22 closed

[2015-05-28 00:50] WasabiFan commented on #51
That is expected ATM; I have committed some fixes locally, but don't want to push them because they break some other functionality. I should have it ready to push in ~10 mins.

[2015-05-28 00:51] WasabiFan commented on #22
I think I could probably make it work, but there won't be any great "UI switch" -- it would have to be in the debug console. I might attempt it if I finish all this other stuff, but I'm probably being overly optimistic.

[2015-05-28 00:55] WasabiFan commented on #41
@nikbyk Can you make the arrow picture in `Final Game/Shared Code/GUI/Generated GUI/XAML Assets` fewer dots? Maybe half or 1/3 as many? They don't show up well when I render it in the tray.

[2015-05-28 00:58] WasabiFan opened #52 "Final prep work"
- Make the camera slightly more zoomed in by default
- Make the Wumpus disappear when appropriate
- Run through the whole game to look for issues

[2015-05-28 00:59] WasabiFan commented on #52
Once we get the other main things done, we should tick these off the list. This could probably be finished day-of if needed.

[2015-05-28 01:00] kyranstar commented on #52
Should the wumpus appear when it moves into explored territory? I think it makes it too easy. This applies to bats & pits as well.

[2015-05-28 01:03] WasabiFan commented on #52
Yeah... I think these things should probably disappear when not in the immediate vicinity. Maybe they should fade out over a long time, say 10 or 20 seconds?

On this topic, it would probably be a good idea to refactor the `DrawRoomBase` method into separate methods:
- `DrawRoomBase` should just draw the base images -- the hexagons and their coloring
- We should have a separate method for hazards

[2015-05-28 01:04] kyranstar commented on #52
Sure.

[2015-05-28 01:05] kyranstar commented on #52
@WasabiFan Do you mean DrawCaveBase?

[2015-05-28 01:06] WasabiFan commented on #52
Yeah... that sounds right. I was going off (apparently incorrect) memory ;)

[2015-05-28 01:09] WasabiFan commented on #51
I just pushed the fixed GUI. Can you take a look when you have some time and make sure that it looks right on your display?

[2015-05-28 01:17] kyranstar commented on #51
It looks good, but the hints don't scroll horizontally. Is there any way you could do that, or at least reduce the font size?

![image](https://cloud.githubusercontent.com/assets/5855296/7850882/94c44638-049c-11e5-9886-778106d7023b.png)

[2015-05-28 01:37] WasabiFan commented on #51
I just pushed a fix for this. I think I also want to make this flyout render wider and above the trivia screen when trivia is open, so that you can reference it as you answer questions.

[2015-05-28 02:36] nikbyk commented on #51
Also, shouldn't there be a screen that pops up if you miss the Wumpus? If you dont look at the log, you don't know that you haven't hit it.

[2015-05-28 02:39] WasabiFan commented on #51
If you don't hit it, the game won't end... it definitely isn't optimal, but I don't have enough time to set up a notification stream.

[2015-05-28 02:39] nikbyk commented on #51
ok, I fixed the red color if you miss, so at least we have that

[2015-05-28 03:13] WasabiFan opened #53 "OrderBy appears to get stuck in a loop"
@kyranstar When I run the game, it keeps freezing in an infinite loop in `SetInitialPosition` -- the `OrderBy` call just infinitely evaluates the sort order. Are you sure that that algorithm won't get stuck if the pathfinding doesn't return the same result for backwards paths? My guess is that it's something like that.

[2015-05-28 03:16] WasabiFan commented on #53
I should mention that it is only ~20% of the time -- probably based on the map that was generated.

[2015-05-28 03:16] kyranstar commented on #53
Strange... I'll see.

On Wednesday, May 27, 2015, Wasabi Fan <notifications@github.com> wrote:

[2015-05-28 03:26] kyranstar commented on #53
Apparently the FindPath method is what is freezing up... Weird.

[2015-05-28 03:27] anak4569 commented on #52
Guys, do we have a set of bookmarked code pieces to showcase?

[2015-05-28 03:29] WasabiFan commented on #52
No... although we should. If someone can find some of those, that would be great!

P.S. Did you get a chance to add the trivia answer order randomization?

[2015-05-28 03:32] anak4569 commented on #52
I thought I did, the questions answer's aren't all the first choice now.

[2015-05-28 03:45] WasabiFan commented on #52
Looking at your commit, I don't see that -- are you talking about the `StandbySet`? Those aren't actually used, so changing it there won't change the available answers (sorry if I wasn't very clear on that) I'll go there and quickly rejigger that stuff to make it work with the actual questions.

Thanks for doing most of it!

[2015-05-28 03:47] WasabiFan commented on #52
Ahhh I see what you did -- you then set the question set to the standby set. I'll go and move that around to work with the other system.

[2015-05-28 03:47] anak4569 opened #54 "Hunt the Wumpus Time and Location:"
What time specifically and what building specifically should I be at tomorrow? I know it's gonna start around 9:30, but I have no idea which building it is.

[2015-05-28 03:54] WasabiFan commented on #54
The schedule was in the packet with the other forms that we got a few weeks ago:
Arrival is 9:45-10:00, and departure is 5:00. It's in Microsoft building 92.

[2015-05-28 04:02] anak4569 commented on #52
Chill legumes.

[2015-05-28 04:04] WasabiFan commented on #52
I... don't know what that means :confused: I'm not familiar with the lingo of today's modern youth...

[2015-05-28 04:09] WasabiFan opened #55 "Make some sort of basic handout (for judges)?"
I think we should print out a list of the big bullets that we think make our game great and amazing so that we can give it to the judges for reference. From what I have heard of the format of this, there will be a lot of judges judging a lot of teams, so having a quick reminder for them (w/ screenshots) would probably keep us memorable for them. What do you guys think we should put on something li

[2015-05-28 04:16] WasabiFan commented on #53
@kyranstar Any progress on this? This is pretty important to fix before tomorrow... if we can't fix it, we need to bypass it.

[2015-05-28 04:17] kyranstar commented on #53
I don't know.. Probably pybass it unless you want to take a look at it?

[2015-05-28 04:19] WasabiFan commented on #53
I vote that we remove the `OrderBy` call and instead put it in a dictionary and find the highest value that way... if it's really this funky, we can just write that small section ourselves.

[2015-05-28 04:21] kyranstar commented on #53
I don't really think that'll work because it's the pathfinding code that has the issue?

[2015-05-28 04:24] WasabiFan commented on #53
Oh... What's the issue with the pathfinding? Is it the one that is freezing?

[2015-05-28 04:24] kyranstar commented on #53
Yeah, It's somewhere in the method.

[2015-05-28 04:27] WasabiFan commented on #53
Crap... I'm not familiar enough with how that pathfinding works to offer much that's useful. If you can't figure it out, bypass it however you can and we'll just have to hope for the best. Why doesn't this happen during the game? Why is it just when it's finding an initial position?

[2015-05-28 04:31] WasabiFan commented on #55
@kyranstar Any ideas here? I'd really like to get this done so we have it tomorrow, and would like others' input before I make it

[2015-05-28 04:52] nikbyk commented on #55
@WasabiFan You said that the game can be displayed on a WinPhone. If that works, it may be worth showing.

[2015-05-28 04:56] WasabiFan commented on #55
Yeah; I'm working on fixing the little issues so that it's demo-able on the phone. Hopeefully it'll be on my device and ready to run tomorrow.

Do you have any other ideas for textual bullets for a handout-type thing?

[2015-05-28 05:00] nikbyk commented on #55
no, you seemed to cover everything pretty well. My one concern is that the Wumpus is way too active, should we turn off the active wumpus? Especially if we don't see it in game, it may be hard to demo

[2015-05-28 05:02] WasabiFan commented on #55
Yeah... I think that's a good plan. Would you be willing to fix that? You should be able to find the proper line to comment out in the Wumpus object. -- it should be pretty straightforward.

I'm currently working on more finalization tasks -- is there anything else that you think needs to be done tonight?

[2015-05-28 05:05] nikbyk commented on #55
It may be a good idea to render room numbers with low opacity on the rooms, otherwise most of the secrets are useless.

[2015-05-28 05:12] WasabiFan commented on #55
Yeah... that's (another) good point. I think I will wait until tomorrow and finalize that there, so that I can make sure all of the critical things are done, but that's high on the list. Honestly, I'm feeling pretty sad that I didn't get a chance to add the buttons and theme switcher... I might try that tomorrow as well.

P.S. I just successfully deployed the app to my phone and it runs, so we sho

[2015-05-28 05:13] nikbyk commented on #55
Great! I'll work on the active wumpus

[2015-05-28 05:14] WasabiFan commented on #55
OK; thanks!

[2015-05-28 05:17] WasabiFan commented on #51
Can we close this?

[2015-05-28 05:18] nikbyk commented on #55
Done, but our cam commands don't work, and the game hangs every now and then when I start

[2015-05-28 05:26] WasabiFan commented on #55
I just fixed the cam command, and the freezing is the issue with pathfinding from #53. So, it's not your fault -- you can push your changes and it shouldn't cause any problems.

[2015-05-28 05:28] #49 closed

[2015-05-28 05:29] nikbyk commented on #55
My thing didn't work for active wumpus, please assist

[2015-05-28 05:30] nikbyk commented on #55
cam command still does not work :/

[2015-05-28 05:33] WasabiFan commented on #55
Even after pulling? It seems to work for me

You should be able to comment out line 80 in `Wumpus.cs`:
[code]

I haven't tested it, but I think that's what you want.

[2015-05-28 05:33] nikbyk commented on #55
I think I tried that, cam doesn't work and I pulled

[2015-05-28 05:35] nikbyk commented on #55
Yea, line 80 doesn't help

[2015-05-28 05:39] WasabiFan commented on #55
@kyranstar We're confused... When you get a chance, can you please take a look at this and disable the active Wumpus? We don't understand how it works...

[2015-05-28 05:40] WasabiFan commented on #55
This works for me:
[code]

[2015-05-28 05:43] nikbyk commented on #55
tried, just flashes once and that's it...

[2015-05-28 05:43] nikbyk commented on #55
can you pull and try? maybe I broke something

[2015-05-28 05:45] WasabiFan commented on #55
That _really_ sounds like you haven't pulled -- I just synced and it works for me, and I can confirm that I don't have any local changes that I haven't pushed.

[2015-05-28 05:46] nikbyk commented on #55
that's really weird because I just pulled

[2015-05-28 05:47] WasabiFan commented on #55
Hmmmm... I don't know then. Try `Project -> Rebuild Solution`?

[2015-05-28 05:48] nikbyk commented on #55
I'm cleaning now

[2015-05-28 05:48] nikbyk commented on #55
clean didn't help;
rebuilding

[2015-05-28 05:49] nikbyk commented on #55
no luck :/

[2015-05-28 05:49] anak4569 commented on #55
Yo guys, is the wumpus supposed to appear when you get close? It makes shooting him really easy.

[2015-05-28 05:49] nikbyk commented on #55
he's always visible

[2015-05-28 05:50] nikbyk commented on #55
shouldn't be tho

[2015-05-28 05:50] anak4569 commented on #55
yea, shouldn't we make it so he isn't always visible?

[2015-05-28 05:54] WasabiFan commented on #55
That's something that I plan to sort out tomorrow, unless someone else gets to it first. Although if we don't get to doing that we can claim that it's for demo purposes...

[2015-05-28 15:37] #51 closed

[2015-05-28 15:46] anak4569 commented on #54
Has anyone else already arrived

[2015-05-28 15:51] anak4569 commented on #55
Has anyone already entered the building?

[2015-05-28 17:39] #44 closed

[2015-05-28 17:40] #43 closed

[2015-05-28 17:40] #54 closed

[2015-05-28 17:40] #53 closed

[2015-05-28 17:41] #3 closed

[2015-05-28 17:42] #48 closed

[2015-05-28 17:43] #41 closed

[2015-05-28 17:43] #37 closed

[2015-05-28 17:46] #16 closed

[2015-05-28 17:46] #17 closed